Package: com.yourcompany.hopsttest
Name: hopstTest
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: root
Author: root
Section: Tweaks
